:root {
    --bg-color1: #deffff;
    --bg-color2: #adffce;
    --bg-color3: #43ad63;
    --bg-color4: #8cdeaa;
    --text-color: #adffce;
    --text-color: #808428;
}
body{
    background-color: var(--bg-color1);
}